.main_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.error{
    color: red;
}
.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#paragraph {
  padding: 30px;
  font-size: xx-large;
}
#typed_words {
  width: 60%;
  border: 1px solid black;
  height: 150px;
  border-radius: 15px;
  padding: 10px;
  font-size: xx-large;
}
